@model DetailsViewModel<BaseClass>
@{
    var Row = Model.Row as ExpertTimeTemplate;
}

@if (Model.ActionType == ActionTypes.Create)
{
    <input type="hidden" asp-for="@Row.ExpertID" value="@repository.ExpertID" />
}
else if (Model.ActionType == ActionTypes.Edit)
{
    <input type="hidden" asp-for="@Row.ExpertID" />
}

<div class="admin-data-box">
    <table class="table detail table-striped">

        <partial name="_TableRow" model="@(new TableRowViewModel<BaseClass>(Model, nameof(SiteTimeTemplate.IsActive)))" />

        @*<partial name="_TableRow" model="@(new TableRowViewModel<BaseClass>(Model, nameof(SiteTimeTemplate.Name), "ltr"))" />
        <partial name="_TableRow" model="@(new TableRowViewModel<BaseClass>(Model, nameof(SiteTimeTemplate.Title)))" />*@

        <partial name="_TableRow" model="@(new TableRowViewModel<BaseClass>(Model, nameof(SiteTimeTemplate.WeekDay), ViewBag.WeekDayCombo, nameof(SiteTimeTemplate.WeekDayName)))" />

        <partial name="_TableRow" model="@(new TableRowViewModel<BaseClass>(Model, nameof(SiteTimeTemplate.Times)))" />
        <partial name="_TableRow" model="@(new TableRowViewModel<BaseClass>(Model, nameof(SiteTimeTemplate.ActiveDayCount)))" />
        <partial name="_TableRow" model="@(new TableRowViewModel<BaseClass>(Model, nameof(SiteTimeTemplate.ActiveTime)))" />
        <partial name="_TableRow" model="@(new TableRowViewModel<BaseClass>(Model, nameof(SiteTimeTemplate.DeactiveDayCount)))" />
        <partial name="_TableRow" model="@(new TableRowViewModel<BaseClass>(Model, nameof(SiteTimeTemplate.DeactiveTime)))" />

    </table>
</div>



