@model TableRowViewModel<BaseClass>

<tr>
    <td>
        @Html.Label(Model.ColumnName, Html.DisplayName(Model.ColumnName) + ":")
    </td>
    <td>
        @if (Model.ActionType == ActionTypes.Create || Model.ActionType == ActionTypes.Edit)
        {
            if (Model.IsList)
            {
                @Html.DropDownList(Model.ColumnName, Model.SelectList)
            }
            else
            {
                @Html.Editor(Model.ColumnName, new { htmlAttributes = new { @class = Model.ClassName + " form-control" } })
            }
        }
        else
        {
            <span class="@Model.ClassName">
                @if (Model.IsList)
                {
                    @Html.Display(Model.SelectListColumnName)
                }
                else
                {
                    @Html.Display(Model.ColumnName)
                }
            </span>
        }
    </td>
</tr>
