@model TitleBarViewModel

@{
    var BackURL = Context.Request.Query["ReturnURL"];
    var CurrentURL = Context.Request.Path;
}

@if (Model.ActionType == ActionTypes.Index)
{
    <div class="row">
        <h1 class="col-6 col-md-4 admin-title">
            @Model.Title
        </h1>
        <div class="col-md-5 admin-title">
            <form>
                <p>
                    فیلتر: <input type="text" value="@ViewBag.SearchString" name="SearchString">
                    <input type="submit" value="اعمال" />
                </p>
            </form>
        </div>
        <div class="col-6 col-md-3 op-buttons top">
            <a btn-type="Create" asp-controller="@Model.AddNewController" 
               asp-action="Create" asp-route-ReturnURL="@CurrentURL" asp-route-id="@Model.ParentID">
                @Model.AddNewTitle
            </a>
        </div>
    </div>
}
else if (Model.ActionType == ActionTypes.Edit)
{
    <div class="row">
        <h1 class="col-md-9 admin-title">
            @Model.Title
        </h1>
        <div class="col-md-3 op-buttons top">
            <a btn-type="back" href="@BackURL">بازگشت </a>
        </div>
    </div>
}
else if (Model.ActionType == ActionTypes.Create)
{
    <div class="row">
        <h1 class="col-md-9 admin-title">
            @Model.Title
        </h1>
        <div class="col-md-3 op-buttons top">
            <a btn-type="back" href="@BackURL"> بازگشت </a>
        </div>
    </div>
}
else if (Model.ActionType == ActionTypes.Delete)
{
    <div class="row">
        <h1 class="col-md-9 admin-title">
            @Model.Title
        </h1>
        <div class="col-md-3 op-buttons top">
            <a btn-type="back" href="@BackURL">بازگشت </a>
        </div>
    </div>
}
else if (Model.ActionType == ActionTypes.Details)
{
    <div class="row">
        <h1 class="col-md-9 admin-title">
            @Model.Title
        </h1>
        <div class="col-md-3 op-buttons top">
            <a btn-type="back" href="@BackURL">بازگشت </a>
        </div>
    </div>
}