@model DetailsViewModel<BaseClass>
@{
    var Row = Model.Row as Site;
}

<div class="admin-data-box">
    <table class="table detail table-striped">

        <partial name="_TableRow" model="@(new TableRowViewModel<BaseClass>(Model, nameof(Site.IsActive)))" />
        <partial name="_TableRow" model="@(new TableRowViewModel<BaseClass>(Model, nameof(Site.Name), "ltr"))" />
        <partial name="_TableRow" model="@(new TableRowViewModel<BaseClass>(Model, nameof(Site.Title)))" />
        <partial name="_TableRow" model="@(new TableRowViewModel<BaseClass>(Model, nameof(Site.Domain), "ltr"))" />
        <partial name="_TableRow" model="@(new TableRowViewModel<BaseClass>(Model, nameof(Site.SiteKindID), ViewBag.SiteKindsCombo, nameof(Site.SiteKind) + "." + nameof(SiteKind.Title)))" />

    </table>
</div>



