@model List<TimeTemplateViewModel>

@{
    int index = 1;
}

<div class="row">

    <ul class="nav nav-tabs col-12" id="myTab" role="tablist">

        @foreach (var item in Model)
        {
            string c = "";
            if (index == 1)
            {
                c = "active";
            }

            <li class="nav-item">
                <a class="nav-link @c" id="home-tab" data-toggle="tab" href="#tab_@index" role="tab" aria-controls="home" aria-selected="true">@item.FullDay</a>
            </li>

            index++;
        }

    </ul>
    <div class="tab-content col-12" id="myTabContent">

        @{ index = 1; }

        @foreach (var item in Model)
        {
            string c = "";
            if (index == 1)
            {
                c = "active";
            }

            <div class="tab-pane fade show @c" id="tab_@index" role="tabpanel" aria-labelledby="home-tab">

                <div class="row p-2">
                    @foreach (var turn in item.Turns)
                    {
                        <div class="col-4 col-md-2 p-1">
                            @if (turn.Status == TurnStatuses.Free)
                            {
                                <form asp-action="AddTurn" asp-controller="Expert" method="post">
                                    <input type="hidden" name="turndate" value="@item.Day">
                                    <input type="hidden" name="time" value="@turn.Time">

                                    <button type="submit" class="btn btn-success btn-block">@turn.Time</button>
                                </form>
                            }
                            else if (turn.Status == TurnStatuses.Completed)
                            {
                                <button class="btn btn-danger btn-block" disabled>@turn.Time</button>
                            }
                            else if (turn.Status == TurnStatuses.Reserve)
                            {
                                <button class="btn btn-warning btn-block" disabled>@turn.Time</button>
                            }
                        </div>
                    }
                </div>
            </div>

            index++;
        }
    </div>
</div>