@model DetailsViewModel<BaseClass>
@{
    var Row = Model.Row as Act;
}

@if (Model.ActionType == ActionTypes.Create)
{
    <input type="hidden" asp-for="@Row.ActCategoryID" value="@ViewContext.RouteData.Values["id"].ToString()" />
}
else if (Model.ActionType == ActionTypes.Edit)
{
    <input type="hidden" asp-for="@Row.ActCategoryID" />
}

<div class="admin-data-box">
    <table class="table detail table-striped">

        <partial name="_TableRow" model="@(new TableRowViewModel<BaseClass>(Model, nameof(Act.IsActive)))" />
        <partial name="_TableRow" model="@(new TableRowViewModel<BaseClass>(Model, nameof(Act.Name), "ltr"))" />
        <partial name="_TableRow" model="@(new TableRowViewModel<BaseClass>(Model, nameof(Act.Title)))" />
        <partial name="_TableRow" model="@(new TableRowViewModel<BaseClass>(Model, nameof(Act.ControllerName), "ltr"))" />
        <partial name="_TableRow" model="@(new TableRowViewModel<BaseClass>(Model, nameof(Act.ActName), "ltr"))" />

    </table>
</div>



