@model PagedResult<ActionCategory>

<partial name="_TitleBar" model="@{new TitleBarViewModel{ActionType = ActionTypes.Index, Title = "لیست دسته منوها", AddNewController="ActionCategory", AddNewTitle = "ایحاد دسته جدید"};}" />

<div class="admin-data-box">
    <table class="table table-striped">
        <tbody>
            @{int r = (Model.PagingData.CurrentPage - 1) * Model.PagingData.ItemsPerPage;}
            @foreach (var item in Model.Items)
            {
                r++;
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ID" asp-route-ReturnURL="@ViewBag.ReturnURL">@r -  @Html.DisplayFor(modelItem => item.Title)</a>
                    </td>
                    <td class="op-buttons">
                        <a btn-type="Edit" asp-action="Edit" asp-route-id="@item.ID" asp-route-ReturnURL="@ViewBag.ReturnURL">ویرایش</a>
                        <a btn-type="Delete" asp-action="Delete" asp-route-id="@item.ID" asp-route-ReturnURL="@ViewBag.ReturnURL">حذف </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<nav page-model="@Model.PagingData" page-action="index" page-contoller="ActionCategory" search-string="@ViewBag.SearchString"></nav>
