@model IEnumerable<Nobatgir.Model.ActCategory>

<ul class="admin-menu">
    @foreach (var cat in Model)
    {
        string className = "admin-menu-item";

        //if (item.Controller.ToLower() == currentController.ToLower())
        //{
        //    className += " active";

        //}

        <li>
        <li class="admin-menu-item">
            @cat.Title
        </li>
        <ul>
            @foreach (var act in cat.Acts.OrderBy(x => x.OrderIndex))
            {
                <li class="@className">
                    <a asp-route-area="Admin" asp-controller="@act.ControllerName" asp-action="@act.ActName">
                        @act.Title
                    </a>
                </li>
            }
        </ul>
        </li>
    }
</ul>