@model IEnumerable<Nobatgir.Model.AdminMenu>

<ul class="admin-menu">

    @{
        string className = "admin-menu-item";
    }

    <li>
        @*<li class="admin-menu-item">
                @cat.Title
            </li>*@
        <ul>
            @foreach (var menu in Model)
            {
                <li class="@className">
                    <a asp-route-area="Admin" asp-controller="@menu.ControllerName" asp-action="@menu.ActionName">
                        @menu.Title
                    </a>
                </li>
            }
        </ul>
    </li>
</ul>